body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #005c8a;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #ce0930;
}

input[type=checkbox] {
  accent-color: #ce0930;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.left-column {
  background-color: #fff;
  flex: 1;
}

.right-column {
  background-color: #fff;
  flex:2;
}

/* list ***************/
.list-container {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.list-left-column {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-right: 10px;
  padding-top:15px;
}

.list-right-column {
  flex: 1;
}

.list-left-column input[type="checkbox"] {
  margin-top: 8px;
}

/* filter *************************/
.filter-container h4 {
  color: #ce0930;
}

.filter-container .clearall {
  font-weight: bold;
}

.filter-container.open {
  display: block;
}

.filter-row {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  
}

.filter-column {
  padding: 0 10px;
}

.filter-checkbox-column {
  flex: 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-title-column {
  flex: 1;
}

.filter-badge-column {
  flex: 0 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  background-color: #878787;
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
  font-size: 14px;
}

.toggle-button {
  display: none;
  border: 0;
  background-color: #fff;
}

@media (max-width: 768px) {
  .column {
      flex: 100%; /* On smaller screens, columns will stack */
  }

  .filter-container {
    display: none;
  }

  .toggle-button {
    display: block;
  }

}

